.header{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-width:1px ;
    border-bottom-style:solid ;
    border-bottom-color: rgb(200, 200, 200);
}
.left-section{
    /*background-color: aqua;*/
    display:flex;
    align-items: center;
}
.hamburger{
    height: 36px;    
    margin-left: 10px;
    margin-right: 10px;
}
.youtube-logo{
    height: 30px;
}
.middle-section{
    flex: 1;
    /*background-color: red;*/
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    min-width: 60px;
    display: flex;
    align-items: center;
    /*background-color: brown;*/
}
.search-bar{
    flex: 1;
    font-size: 20px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    height: 36px;
    border-color: rgb(204, 204, 204);
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    padding-left: 10px;
    font-size: 16px;
    min-width: 10px;
}
.search_button{
    width: 55px;
    height: 39px;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    text-align: center;
    margin-left: -4px;
    background-color: rgb(240, 240, 240);
    border-color: rgb(204, 204, 204);
    position: relative;
    display: flex;
    justify-content: center;
}
.search_logo{
    height: 36px;
}
.right-section{
    /*background-color: aqua;*/
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.right-section-items{
    height: 36px;
}
.my-channel{
    height: 50px;
    border-radius: 30px;
    margin-right: 8px;
    
}
.notification-logo{
    position: relative;
}
.notif-number{
    position: absolute;
    right: -5px;
    top: -5px;
    background-color: red;
    color: white;
    border-radius: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
}
.search_button .tooltip{
    position: absolute;
    bottom: -16px;
    background-color: rgb(130, 130, 130);
    color: white;
    border-radius: 1px;
    padding-left: 2px;
    padding-right: 2px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.search_button:hover .tooltip{
    opacity: 1;
}

